@media print {
  /* All your print styles go here */
  #header,
  #button-wrapper,
  #pagination-wrapper,
  #search-params-wrapper,
  .td-type_of_flight,
  .td-page_num,
  .td-route {
    display: none !important;
  }

  body {
    overflow-x: hidden;
  }
  #table-wrapper {
    overflow-x: hidden;
  }
  #logbook-table th {
    color: #333;
    border: 1px solid #333;
  }

  #logbook-table th:nth-child(1),
  #logbook-table .td-action:nth-child(1) {
    display: none;
  }
  #row-total td:nth-child(1) {
    display: none;
  }
  .td-aircraft_model {
    /*min-width: 80px !important;*/
    font-size: 10px !important;
  }
}
